{% extends 'app/layout.html' %}
{% load staticfiles %}

{% block content %}

<div class="breadcrumb-area pt-35 pb-35 bg-gray-3">
    <div class="container">
        <div class="breadcrumb-content text-center">
            <ul>
                <li>
                    <a href="/">Главная</a>
                </li>
                <li class="active">Регистрация </li>
            </ul>
        </div>
    </div>
</div>
<div class="login-register-area pt-50 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-12 ml-auto mr-auto">
                <div class="login-register-wrapper">
                    <div class="login-register-tab-list nav">
                        <h2><b>Регистрация</b></h2>
                    </div>
                    <div class="tab-content">
                        <div class="tab-pane active">
                            <div class="login-form-container">
                                <div class="login-register-form">
                                    <form action="" method="post">
                                        {% csrf_token %}
                                        <input type="text" name="username" maxlength="150" autofocus="" required="" id="id_username" placeholder="Введите e-mail *">
                                        <input type="password" name="password1" required="" id="id_password1" placeholder="Пароль *">
                                        <input type="password" name="password2" required="" id="id_password2" placeholder="Повторите пароль *">
                                        <div class="button-box">
                                            <div class="login-toggle-btn">
                                                <a href="{% url 'login' %}">Есть аккаунт?</a>
                                            </div>
                                            <button type="submit"><span>Подтвердить</span></button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}